.section {
    margin-top: 50px;
    padding: 30px;
    margin: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    width: $parrafoChico*3,5;

    p{
        @extend %estiloParrafo
        
    }

    .h2 {
        font-size: 30px;
        text-align: center;
        font-family: "Raleway", sans-serif;
        @include fontStyle($colorFondo, $colorFondoSecundario);
    }

    .parrafo {
        margin-top: 30px;
    }
}

// Condicional

$saludo: banana;

h2{
    @if($saludo == "welcome"){
        color: $colorButton;
    } @else{
        color: red;
    }
}

