.section {
    margin-top: 50px;
    padding: 30px;
    margin: 30px;
    font-family: "Raleway", sans-serif;
    text-align: center;

    .h2 {
        font-size: 30px;
        text-align: center;
        font-family: "Raleway", sans-serif;
    }

    .parrafo {
        margin-top: 30px;
    }
}